* {
	--first_color: #0368a0;
	--second_color: #4b9fce;
	--h: 200px;
	--w: 500px;
}

.card {
	height: var(--h);
	width: var(--w);
	background-image: linear-gradient(
		to right,
		var(--first_color),
		var(--second_color)
	);
}

.time {
	text-align: left;
	padding-left: 20px;
	padding-top: 5px;
	size: 1.5em;
}
